<div ng-controller="FileUploadCtrl">
  <div class="radio">
    <label>
      <input type="radio" name="format" id="csv" value="csv" ng-model="format">
      CSV
    </label>
  </div>
  <div class="radio">
    <label>
      <input type="radio" name="format" id="json" value="json" ng-model="format">
      JSON
    </label>
  </div>
  <input type="file" ng-file-select="onFileSelect($files)" accept="{{'.' + format}}">
  <button class="btn btn-warning" ng-click="upload.abort()">Cancel</button>
</div>
